<div *ngIf="!selectedAuthor">
    <div class="border border-primary border-2 p-2 m-2">
      <h3>Sorry this id doesn't match any author....</h3>
    </div>
</div>

<div *ngIf="selectedAuthor" class="border border-primary border-2 p-2 m-2">
    <h2>Author {{selectedAuthor.id}}'s details</h2>
    <div class="row">
        <div class="col-3 fw-bold">First Name:</div>
        <div class="col-9">{{ selectedAuthor.firstName }}</div>
    </div>
    <div class="row">
        <div class="col-3 fw-bold">Last Name:</div>
        <div class="col-9">{{ selectedAuthor.lastName }}</div>
    </div>
    <div class="row" [hidden]="!selectedAuthor.books">
      <div class="col-3 fw-bold">Books:</div>
      <div class="col-9"><span [innerHTML]="selectedAuthor.books | bookNames"></span></div>
    </div>
    <div class="row" [hidden]="!selectedAuthor.bio">
      <div class="col-3 fw-bold">Bio:</div>
      <div class="col-9">{{ selectedAuthor.bio }}</div>
    </div>
</div>
  